name: Cypress Tests

on:
  push:
    branches:
      - master  
  pull_request:
    branches:
      - master  

jobs:
  cypress:
    runs-on: ubuntu-latest  # runtime environment


    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20.18.0'  

      - name: Install dependencies
        run: npm install
      
      - name: Install Cypress
        run: npm install cypress --save-dev

      - name: Run Cypress tests
        run: npx cypress run --spec "cypress/e2e/GatewayServices.cy.ts"  
